<%= form_tag('/search', method: :get) do %>
  <input name="keyword" placeholder="授業名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
  <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
</form>
<% end %>

<h2>検索結果</h2>
  <% @class_rooms.each do |class_room| %>
    <li>
      <%= link_to "#{class_room.name}", "/entry/#{class_room.id}" %>
    </li>
    <!-- /:idとなっているルーティングはpathのルーティングができない。 -->
  <% end %>



